<h1>第一次打開這個網頁會是空白的！請到對應的view中刪除這個行，依指示完成此頁面</h1>
<!--
controlerr中實例變數（instance variable）
顯示這一筆資料的內容
ex:
@event.name
@event.description
@event.is_public
@event.capacity
-->









<!--做一個超連結 show controller是events，action是index-->